
<div class="container-md mt-5 mb-5">
    <h3>Ažuriranje podataka o lijeku</h3>
    <div *ngIf="isLoading; else elseForm" >
        <app-loader></app-loader>  <!-- :title="loadingTitle  -->
    </div> 
    <ng-template #elseForm >    
        <form #form="ngForm" (ngSubmit)="handleSubmit()" >
            <div *ngIf="lijek" >  
                <div class="mb-3 mt-3">
                    <label for="imeLijeka" class="form-label text-primary">Naziv:</label>
                    <input type="text" class="form-control" id="imeLijeka" [(ngModel)]="lijek.imeLijeka" placeholder="Naziv" name="imeLijeka" />
                    <span class="form-control text-danger" *ngIf="errorMessages.ImeLijeka">{{errorMessages.ImeLijeka}}</span>        
                </div>
                <div class="mb-3 mt-3">
                    <label for="opisLijeka" class="form-label text-primary">Opis:</label>
                    <input type="text" class="form-control" id="opisLijeka" [(ngModel)]="lijek.opisLijeka" placeholder="Opis" name="opisLijeka" />
                    <span class="form-control text-danger" *ngIf="errorMessages.OpisLijeka" >{{errorMessages.OpisLijeka}}</span>
                </div>
                <div class="mb-3 mt-3" >
                    <label class="form-label text-primary" for="sifra">Šifra:</label>
                    <input class="form-control" type="text" [(ngModel)]="lijek.sifra" id="sifra" name="sifra" placeholder="Sifra">
                    <span class="form-control text-danger" *ngIf="errorMessages.Sifra" >{{errorMessages.Sifra}}</span>
                    <span class="form-control text-danger" *ngIf="errorSifra" >{{errorSifra}}</span>
                </div>
                <div class="mb-3 mt-3">
                    <label for="doziranje" class="form-label text-primary">Doziranje:</label>
                    <input type="text" class="form-control" id="doziranje" [(ngModel)]="lijek.doziranje" placeholder="Doziranje" name="doziranje" />
                    <span class="form-control text-danger" *ngIf="errorMessages.Doziranje" >{{errorMessages.Doziranje}}</span>
                </div>
                <div class="mb-3 mt-3">
                    <div class="card" style="width:400px">
                        <img class="card-img-top" src="{{ pathToImage }}" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <p>{{ fileName || "No file uploaded yet." }}</p>
                          <button type="button" class="btn btn-primary" (click)="fileUpload.click()">Change Image</button>
                        </div>
                      </div>
                    <input type="file"  style="display:none" id="slikaUpload" name="slikaUpload"  (change)="onFileSelected($event)" #fileUpload />
                </div>
                <button class="btn btn-success" type="submit" >Submit</button>  <!--   [disabled]="!form.valid"    -->
                <span style="padding-left: 10px"></span>
                <button class="btn btn-primary" type="button" (click)="back()" >Go Back</button>
            </div>  
        </form>


    </ng-template>  
</div>

<div class="text-success" *ngIf="successMessage">Zapis je uspješno editiran.</div>
