
<div class="container-md mt-5 mb-5">
    <div *ngIf="isLoading; else elseForm" >
        <app-loader></app-loader> <!-- :title="loadingTitle  -->
    </div>
    <ng-template #elseForm >    
        <form #form="ngForm" (ngSubmit)="handleSubmit()" >
            <div *ngIf="comment" >  
                <div class="mb-3 mt-3">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" class="form-control" id="title" [(ngModel)]="comment.title" placeholder="Title" name="title" />
                    <span class="form-control text-danger" *ngIf="errorMessage.Title">{{errorMessage.Title}}</span>        
                </div>
                <div class="mb-3 mt-3">
                    <label for="content" class="form-label">Content:</label>
                    <input type="text" class="form-control" id="content" [(ngModel)]="comment.content" placeholder="Content" name="content" />
                    <span class="form-control text-danger" *ngIf="errorMessage.Content" >{{errorMessage.Content}}</span>
                </div>
    <!--         <div class="mb-3 mt-3">
                    <label for="createdOn" class="form-label">Created On:</label>
                    <input type="text" class="form-control" id="createdOn" [(ngModel)]="comment.createdOn" placeholder="Created On" name="createdOn" />
                </div>   -->
                <div class="mb-3 mt-3" >
                    <label for="createdOn">Created On:</label>
                    <span style="padding-left: 10px"></span>
                    <input type="datetime-local" [(ngModel)]="comment.createdOn" id="createdOn" name="createdOn">
                </div>  
                <button class="btn btn-success" type="submit" [disabled]="!form.valid">Submit</button>
                <span style="padding-left: 10px"></span>
                <button class="btn btn-primary" type="button" (click)="back()" >Go Back</button>
            </div>  
        </form>
    </ng-template>

</div>

<div class="text-success" *ngIf="successMessage">Comment has been created.</div>
