
<!-- add this to form: (ngSubmit)="handleSubmit(form)"  -->

<div class="container-md mt-5 mb-5">
    <form #form="ngForm" (ngSubmit)="handleSubmit()" >
        <div *ngIf="comment" >  
            <div class="mb-3 mt-3">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="comment.title" placeholder="Title" name="title" />        
            </div>
            <div class="mb-3 mt-3">
                <label for="content" class="form-label">Content:</label>
                <input type="text" class="form-control" id="content" [(ngModel)]="comment.content" placeholder="Content" name="content" />
            </div>
            <div class="mb-3 mt-3">
                <label for="createdOn" class="form-label">Created On:</label>
                <input type="text" class="form-control" id="createdOn" [(ngModel)]="comment.createdOn" placeholder="Created On" name="createdOn" />
            </div>
            <div class="mb-3 mt-3" >
                <label for="createdOn">Created On:</label>
                <span style="padding-left: 10px"></span>
                <input type="datetime-local" [(ngModel)]="comment.createdOn" id="createdOn" name="createdOn">
            </div>
            <button class="btn btn-success" type="submit" [disabled]="!form.valid">Submit</button>
            <span style="padding-left: 10px"></span>
            <button class="btn btn-primary" type="button" (click)="back()" >Go Back</button>
        </div>  
    </form>
</div>

<div *ngIf="successMessage">Update was successful.</div>

<!--
   -->